body {
  background-color: rgb(33, 32, 34);
}

div {
  position: absolute;
  top: 30%;
  left: 40%;
}

p {
  color: aliceblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}
